@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-6">Welcome @ViewBag.UserId</h1>
    @if (ViewBag.userRole == "Manager")
    {
        <a href="/Schedule/ListRequest">View Request list</a>
    }
    else
    {
        <a href="/Schedule">View my schedule</a>
    }
</div>
